@model App.Models.Designacao

@{
    ViewData["Title"] = "Nova Designação";
}

<h1>
    <i class="bi bi-card-text"></i> @ViewData["Title"]
</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary='All' class='text-danger'></div>

    <div class="mb-3">
        <label asp-for="Data" class="form-label"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>


    <div class='mb-3'>
        <strong>Tipo de Parte</strong> <br>

        @foreach (var tipo in (string[])ViewData["Tipos"])
        {
            <input type="radio" class="btn-check" name="Tipo" id='Tipo_@tipo' value='@tipo'>
            <label class="btn btn-outline-success" for='Tipo_@tipo'>
                @tipo
            </label>
        }

    </div>

    <div class="mb-3">
        <label asp-for="DesignadoId" class="form-label"></label>
        <select asp-for="DesignadoId" class="form-control" asp-items="ViewBag.DesignadoId">
            <option value=""> Selecione </option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="AjudanteId" class="form-label"></label>
        <select asp-for="AjudanteId" class="form-control" asp-items="ViewBag.AjudanteId">
            <option value=""> Sem ajudante </option>
        </select>
    </div>


    <div class="mb-3">
        <label asp-for="Observacao" class="form-label"></label>
        <input asp-for="Observacao" class="form-control" />
        <span asp-validation-for="Observacao" class="text-danger"></span>
    </div>

    <div class="mb-3 d-flex justify-content-end">
        <a asp-action="Index" class='btn btn-secondary'>Voltar</a>
        <input type="submit" value="Salvar Nova Designacao" class="btn btn-primary ms-2" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/js/designacoes/create.js' asp-append-version="true"></script>
}
