@model App.Models.Designacao

@{
    ViewData["Title"] = "Details";
}

<input type='hidden' asp-for='Tipo'>

<div id='printDesignacao'></div>

    <div class='card card-designacao' id='divDesignacao'>

        <div class='card-body'>

            <h1 class='titulo-designacao'>            
                DESIGNAÇÃO PARA A REUNIÃO <br>
                NOSSA VIDA E MINISTÉRIO CRISTÃO
            </h1>


            <p class="d-flex">
                <strong class='mr-2'>Nome: </strong>
                <span class='linha-pontilhada flex-grow-1'>
                    @Model.Designado.Nome
                </span>
            </p>

            <p class='d-flex'>
                <strong class='mr-2'>Ajudante: </strong>
                <span class='linha-pontilhada flex-grow-1'>
                    @Model.Ajudante?.Nome
                </span>
            </p>

            <p class='d-flex'>
                <strong class='mr-2'>Data: </strong>
                <span class='linha-pontilhada flex-grow-1'>
                    @Model.Data.ToShortDateString()
                </span>
            </p>

            <br>
                <strong>
                    Designação:
                </strong>

            <div class='row'>
                <div class='col ml-4'>

                        <div class="form-check">
                            <input class="form-check-input" name='Tipo' type='checkbox' value='Leitura'>
                            <label class="form-check-label" for=''>
                                Leitura da Bíblia
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name='Tipo' type='checkbox' value='Primeira Conversa'>
                            <label class="form-check-label" for=''>
                                Primeira Conversa
                            </label>
                            
                            <div class='d-flex'>
                                <span></span>
                                <span class='linha-pontilhada flex-grow-1'>
                                    
                                </span>
                            </div>

                        </div>

                        <div class="form-check">
                            <input class="form-check-input" name='Tipo' type='checkbox' value='Revisita'>
                            <label class="form-check-label" for=''>
                                Primeira Revisita
                            </label>

                            <div class='d-flex'>
                                <span></span>
                                <span class='linha-pontilhada flex-grow-1'>
                                    
                                </span>
                            </div>

                        </div>
                    </div>

                <div class='col'>

                    <div class="form-check">
                        <input class="form-check-input" name='Tipo' type='checkbox' value='Segunda Revisita'>
                        <label class="form-check-label" for=''>
                            Segunda Revisita
                        </label>

                        <div class='d-flex'>
                            <span></span>
                            <span class='linha-pontilhada flex-grow-1'>
                                
                            </span>
                        </div>

                    </div>

                    <div class="form-check">
                        <input class="form-check-input" name='Tipo' type='checkbox' value='Estudo Bíblico'>
                        <label class="form-check-label" for=''>
                            Estudo Bíblico
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" name='Tipo' type='checkbox' value='Discurso'>
                        <label class="form-check-label" for=''>
                            Discurso
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" name='Tipo' type='checkbox' value='Outra'>
                        <div class='d-flex'>
                            <span>Outra:</span>
                            <span class='linha-pontilhada flex-grow-1'>
                                
                            </span>
                        </div>
                    </div>

                </div>
            </div> 

            <br>
            <strong>
                A ser feito(a) no(a):
            </strong>

            <div class='ml-4'>
                <div class="form-check">
                    <input class="form-check-input" type='checkbox' checked>
                    <label class="form-check-label">
                        Salão Principal
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type='checkbox'>
                    <label class="form-check-label">
                        Sala B
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type='checkbox'>
                    <label class="form-check-label">
                        Sala C
                    </label>
                </div>
            </div>

            <br>

            <p>
                <strong>Observação para o estudante: </strong> 
                A lição da brochura <i>Melhore</i> e a fonte de matéria para a sua designação estão na 
                <i>Apostila da Reunião Vida e Ministério</i>. 
                Estude a lição da brochura para saber como aplicar o ponto que você vai considerar.
            <p/>
            <p>
                S-89-T 10/19
            </p>



        </div>

        

    </div>



<br>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script src='~/js/html2canvas.js'></script>
    <script src="~/js/designacoes.js"></script>
}