@model App.Models.Designacao

@{
    ViewData["Title"] = "Editar Designação";
}

<h1>
    📃 @ViewData["Title"]
</h1>

<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class='form-group mb-3'>
        <strong>Tipo de Parte</strong>

        @foreach (var tipo in (string[])ViewData["Tipos"])
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for='Tipo' value="@tipo">
                <label class="form-check-label" for="TipoLeitura">
                    @tipo
                </label>
            </div>
        }

    </div>

    <div class="form-group mb-3">
        <label asp-for="DesignadoId" class="control-label"></label>
        <select asp-for="DesignadoId" class="form-control" asp-items="ViewBag.DesignadoId">
            <option value=""> Selecione </option>
        </select>
    </div>
    <div class="form-group mb-3">
        <label asp-for="AjudanteId" class="control-label"></label>
        <select asp-for="AjudanteId" class="form-control" asp-items="ViewBag.AjudanteId">
            <option value=""> Sem ajudante </option>
        </select>
    </div>


    <div class="form-group mb-3">
        <label asp-for="Observacao" class="control-label"></label>
        <input asp-for="Observacao" class="form-control" />
        <span asp-validation-for="Observacao" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
