@model App.Models.Publicador

@{
    ViewData["Title"] = "Novo Publicador";
}

<h1>
    😁
    @ViewData["Title"]
</h1>

<hr />
<form asp-action="Create">
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class='mb-3'>
        <strong>Sexo</strong>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="Sexo" id="SexoMasculino" value="Masculino">
            <label class="form-check-label" for="SexoMasculino">
                Masculino
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="Sexo" id="SexoFeminino" value="Feminino">
            <label class="form-check-label" for="SexoFeminino">
                Feminino
            </label>
        </div>

    </div>
    <div class="mb-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
